.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.details-content {
    background: linear-gradient(to bottom, black, transparent);
    padding: 30px 120px;
    height: 100%;
}

.details-content-title {
    font-size: 3rem;
}


@media (max-width: 640px) {
    .details-content {
        padding: 45px 30px;
    }

    .details-content-title {
        padding-bottom: 0;
    }
}