
.image-cover-row {
  display: flex;
  justify-content: space-around;
}

.image-cover-row-item {
  flex-basis: 100%;
  flex: 1;
}

.image-cover-row-item img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 640px) {

  .image-cover-row {
      display: block;
  }
}